# UPDATE: v2.2, Ignore SCSS/SASS Map File added
# Created by https://www.gitignore.io/api/osx

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Dreamweaver specific files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno

# Ignore SCSS/SASS Map File
css/stylesheet.css.map
stylesheet.css.map
*.css.map
*.map

node_modules